:root{
    --primary-color: #4a66f3;
    --secondary-color: #6f88f0;
    --tertiary-color: #dec339;
    --quaternary-color: #f3f3f3;
    /* black #252526 */
    /* light yellow #fcfa78 */
}

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;700&family=Rubik+Mono+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    position: relative;
    width: 15%;
    justify-items: start;
    align-items: center;
    margin: 0;
    padding-right: 4em;
    padding-top: 1em;
}
 
#logo:hover{
    transform: scale(1.1);
}

nav{
    display: inline-block;
    /* justify-content: space-between; */
    /* align-items: center; */
    justify-items: end;
    align-items: center;
    height: 8vh;
    left: 50%;
    /* background-color: var(--primary-color); */
    font-family: 'Livvic', sans-serif;
    padding: 0 10%;
    grid-template-columns: 1fr 3fr;
    gap: 12rem;
    text-align: rignt;
    width: 100vw;
}

nav ul{
    display: inline-block;
    justify-content: space-between;
    /* width: 50%; */
    justify-items: end;
    align-items: center;
    list-style: none;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 2em 3em;
    margin: 0;
    text-align: right;
    align-items: center;
    justify-items: end;
}

nav ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 500;
}

nav ul li a:hover{
    color: var(--tertiary-color);
}

#projectimgsection{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 2.5em 0;
    margin: 6em 0;
}

#projectimg{
    width: 90%;
    padding: 4em;
    align-self: center;
    justify-self: center;
    margin: auto;
}

#description{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-items: end;
    width: 100%;
    padding: 0 10%;
}

#description h2{
    font-size: 24pt;
    font-weight: 700;
    color: var(--tertiary-color);
    font-family: 'livvic', sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 2em;
}

#description p{
    font-size: 12pt;
    font-weight: 500;
    color: #252526;
    font-family: 'avenir', sans-serif;
    max-width: 30em;
    text-align: left;
    margin: auto;
    padding-bottom: 2em;
}

#applications{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 0 10%;
    margin: 6em 0;
}

#applications h3{
    font-size: 18pt;
    font-weight: 700;
    color: var(--tertiary-color);
    font-family: 'livvic', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

#applications ul{
    list-style: none;
}

#applications ul li{
    font-size: 12pt;
    font-weight: 500;
    color: #252526;
    font-family: 'avenir', sans-serif;
    max-width: 30em;
    text-align: left;
}


#project2img{
    width: 60%;
    padding: 4em;
    align-self: center;
    justify-self: center;
    margin: auto;
}

#project3img{
    width: 50%;
    padding: 4em;
    align-self: center;
    justify-self: center;
    margin: auto;
}

footer{
    min-height: 10vh;
    width: 100%;
    background-color: #373738;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'avenir', sans-serif;
    font-size: 12pt;
    color: var(--quaternary-color);
}

hr{
    border: 0;
    height: 0.5em;
    background: var(--tertiary-color);
    margin-bottom: 2em;
}

footer{
    min-height: 10vh;
    width: 100%;
    background-color: #373738;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: 'avenir', sans-serif;
    font-size: 12pt;
    color: var(--quaternary-color);
}

@media only screen and (max-width: 1080px){
    body{
        overflow-x: hidden;
    }

    #logo{
        position: relative;
        width: 25%;
        justify-items: start;
        align-items: center;
        margin: 0;
        padding-right: 4em;
        padding-top: 1em;
    }

    #projectimg{
        width: 90%;
        padding: 4em;
        align-self: center;
        justify-self: center;
        margin: auto;
    }

    #project2img{
        width: 80%;
        padding: 4em;
        align-self: center;
        justify-self: center;
        margin: auto;
    }
    
    #project3img{
        width: 80%;
        padding: 4em;
        align-self: center;
        justify-self: center;
        margin: auto;
    }


}

@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    #logo{
        position: relative;
        width: 40%;
        justify-items: start;
        align-items: center;
        margin: 0;
        padding-right: 4em;
        padding-top: 1em;
    }
    
}
